image:
  repo: quay.io/strimzi
  name: access-operator
  tag: 0.1.1

resources:
  limits:
    memory: 256Mi
    cpu: 500m
  requests:
    memory: 256Mi
    cpu: 100m
livenessProbe:
  initialDelaySeconds: 10
  periodSeconds: 30
readinessProbe:
  initialDelaySeconds: 10
  periodSeconds: 30
